* {
  margin: 0;
  padding: 0;
}
body,
html {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
nav {
  color: #fff;
  z-index: 2;
  padding: 4rem 8rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}
nav span {
  font-weight: 700;
  font-size: 1.2rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 0.8rem;
}

.title {
  color: #fff;
  white-space: nowrap;
  z-index: 2;
  font-size: 3rem;
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -75%);
}
